.contributor_container {
  background-color: #003845;
}
.contributors_h1 {
  display: flex;
  font-family: 'Gagalin', sans-serif;
  font-size: large;
  justify-content: center;
  background-color: #003845;
  color: whitesmoke;
  margin-top: 0px;
}

.avatar_container {
  background-color: #003845;
   display: flex;
  justify-content: center; 
}

.footer {
  display: flex;
  justify-content: center;
  color: white;
}
