.header_logo {
  display: flex;
  background-color: #003845;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /* object-fit: contain; */
  height: 250px;
}

.header_copy {
  display: flex;
  justify-content: center;
  background-color: #003845;
  color: whitesmoke;
  font-family: 'Gagalin', sans-serif;
  font-size: medium;
}

.header_buttons {
  display: flex;
  background-color: #1089a7;
  border: 2px solid black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding: 10px 24px;
  margin-top: 35px;
  margin-right: 10px;
  margin-bottom: 35px;
}

.header_buttons:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.button_container {
  display: flex;
  background-color: #003845;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.headerButton_icon {
  font-size: 100%;
  padding-right: 7px;
}
